*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100

#project specific files 
pytest.py
/venv/
*.cfg
*.vscode
/public
*Dockerfile
*.dockerignore
/server/__pycache__